#mw-content-block {
	clear: both;
}

#mw-content-wrapper {
	margin-left: -14em;
}

#mw-content {
	margin-left: 14em;
}

.cosmos-sidebar-container {
	overflow: hidden;
}

.ts-inner {
	max-width: 101em
}
