#profile-toggle-button {
	z-index: 1;
}

.action-view.mw-wiki-user-page #contentSub,
.action-view.mw-social-profile-page #contentSub,
.action-view.ns-202 #contentSub,
.action-view.mw-social-profile-page #cosmos-articleHeader-actions,
.action-view.ns-202 #cosmos-articleHeader-actions,
.action-view.mw-wiki-user-page .firstHeading,
.action-view.mw-social-profile-page .firstHeading,
.action-view.ns-202 .firstHeading {
	display: none;
}

#profile-top {
	border: 0;
	margin: 0;
}
